@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .gallery {
    overflow: hidden;
    position: relative;
  }

  .gradient {
    --size: 250px;
    --speed: 10s;
    --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);

    width: var(--size);
    height: var(--size);
    filter: blur(calc(var(--size) / 5));
    background-image: linear-gradient(#e66465, #9198e5 55%);
    animation: rotate var(--speed) var(--easing) alternate infinite;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }

  @media (min-width: 720px) {
    .gradient {
      --size: 500px;
    }
  }
  /* ... */
}

* {
  transition: all 0.25s ease-out;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#root {
  max-width: 100vw;
  height: 100vh;
  margin: 0 auto;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
}
